ContentServerUploader/Service References/CWS/ContentService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="urn:Core.service.livelink.opentext.com" elementFormDefault="qualified" targetNamespace="urn:Core.service.livelink.opentext.com" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://cs10/cws/ContentService.svc?xsd=xsd0" namespace="http://schemas.microsoft.com/Message" />
  <xs:element name="UploadContent">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:xmime="http://www.w3.org/2005/05/xmlmime" xmlns:q1="http://schemas.microsoft.com/Message" xmime:expectedContentTypes="*/*" name="contents" type="q1:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="contextID" type="xs:string" />
  <xs:element name="fileAtts" type="tns:FileAtts" />
  <xs:complexType name="FileAtts">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ServiceDataObject">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="CreatedDate" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" maxOccurs="1" name="FileName" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="FileSize" nillable="true" type="xs:long" />
          <xs:element minOccurs="1" maxOccurs="1" name="ModifiedDate" nillable="true" type="xs:dateTime" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ServiceDataObject" abstract="true" />
  <xs:element name="UploadContentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="UploadContentResult" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DownloadContent">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="contextID" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DownloadContentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:xmime="http://www.w3.org/2005/05/xmlmime" xmlns:q2="http://schemas.microsoft.com/Message" xmime:expectedContentTypes="*/*" name="DownloadContentResult" type="q2:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>